@import url(../../app/globals.css);

input {
    width: 100%;
    max-width: 100%;
    padding: 25px 25px;
    font-size: 20px;
    border-radius: 28px;
    box-shadow: inset 5px 6px 6px rgba(0, 0, 0, 0.15);
    
}

@media (max-width: 768px){
    input {
        padding: 15px 20px;
        font-size: 15px;
        border-radius: 20px;
    }
}