@import url(@/app/globals.css);

.patients-medical-record{
    display: flex;
    flex-direction: column;
}

.profile-container{
    display: flex;
    width: 45%;
    margin-top: 10%;
    align-items: start;
}

.profile-avatar-wrapper {
  display: flex;
  justify-content: center;
  margin-right: 50%;
  margin-left: 15%;
  margin-bottom: 100px;
}

.profile-avatar-container {
  position: relative;
  width: 400px !important;  
  height: 400px !important;  
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0; 
}

.profile-avatar-image {
  object-fit: cover;
}

.profile-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.profile-info h2{
    display: flex;
    align-items: center;
    font-size: 60px;
    margin-bottom: 50px;
    width: 480px;
}

.profile-status {
    display: flex;
    justify-content: center;
    
}

.profile-status h3{
    font-size: 40px;
    background-color: var(--background-text);
    color: #265D39;
    background-color: #A8D5B7;
    padding: 20px 50px;
    width: 100%;
    border-radius: 100px;
    margin: 0 auto;
      white-space: nowrap;
}

/*  */

.DiagramTitle{
    display: flex;
    width: 92%;
    align-items: center;
    margin-left: 5%;
    margin-bottom: 50px;
}

.DiagramTitle p{
    font-size: 40px;
    width: 100%;
}

.DiagramTitle .plus-image{
    cursor: pointer;
}

.EvolutionDiagram{
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    padding: 50px;
    margin-bottom: 100px;
}

/* EvolutionForm */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.4); /* cinza transparente */
    
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 999;
}

.code-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
   width: 40%;
   padding: 50px;
   border-radius: 50px;
}

.evolution{
    background-color: white;
    display: flex;
    padding: 15px 45px;
    box-shadow: 5px 3px 3px rgb(155, 150, 150);
    border-radius: 50px;
    margin-top: -80;
    margin-bottom: 50px;
    
}

.evolution h2{
    font-size: 40px;    
    white-space: nowrap;
}
.text-evolution{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 100px;
}

.text-evolution p{
    width: 100%;
    font-size: 30px;
    justify-content: center;
    text-align: center;
}

.inputs-section{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    align-items: center;
}

.input-box{
    width: 90%;
}

.input-box p{
    font-size: 20px;
    margin-left: 5%;
    margin-bottom: 5px;
}

.button-send{
    width: 100%;
    margin-top: 100px;
}

.button-send button{
    color: white;
    background-color: #22304A;
    padding: 15px 30px;
    font-size: 30px;
    border-radius: 50px;
    cursor: pointer;
}
/*  */

.therapeutic-goals{
    display: flex;
    padding: 50px;
    box-shadow: 3px 3px 5px rgb(94, 92, 92);
    cursor: pointer;
    flex-direction: column;
}

.therapeutic-goals-relatorios{
    display: flex;
    padding: 50px;
    padding-bottom: 150px;
    box-shadow: 3px 3px 5px rgb(94, 92, 92);
    cursor: pointer;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 100px;
}

.therapeutic-goals-container{
    display: flex;

}

.therapeutic-goals__content h2{
    font-size: 40px;
}

.therapeutic-goals__content-relatorios h2{
    font-size: 40px;
}
.therapeutic-goals__content p{
    font-size: 30px;
    margin-top: 20px;
    width: 90%;
}

.therapeutic-goals__content{
    margin-left: 5%;
    width: 100%;
    margin-right: 25%;
}

.therapeutic-goals__content-relatorios{
    margin-left: 5%;
    width: 80%;
    margin-right: 20%;
}

.Goals{
    display: flex;
    margin-left: 5%;
    margin-top: 70px;
    gap: 20px;
}

.Goals p{
    background-color: #ECECEC;
    padding: 15px 35px;
    border-radius: 30px;
    font-size: 30px;
    white-space: nowrap;
}
@media (max-width: 768px){

.patients-medical-record{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-container{
    display: flex;
    width: 45%;
    margin-top: 10%;
    margin-bottom: 100px;
    flex-direction: column;
    align-items: center;
}

.profile-avatar-wrapper {
  display: flex;
  justify-content: center;
  margin-right: 10%;
  margin-left: 15%;
  margin-bottom: 50px;
}

.profile-avatar-container {
  position: relative;
  width: 150px !important;  
  height: 150px !important;  
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0; 
}

.profile-avatar-image {
  object-fit: cover;
}

.profile-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.profile-info h2{
    display: flex;
    align-items: center;
    font-size: 30px;
    margin-bottom: 20px;
    width: 250px;
}

.profile-status {
    display: flex;
    justify-content: center;
}

.profile-status h3{
    font-size: 20px;
    background-color: var(--background-text);
    color: #265D39;
    background-color: #A8D5B7;
    width: 100%;
    border-radius: 50px;
    margin: 0 auto;
}

/*  */

/*  */

.DiagramTitle{
    display: flex;
    width: 92%;
    align-items: center;
    margin-left: 5%;
    margin-bottom: 50px;
}

.DiagramTitle p{
    font-size: 20px;
    width: 90%;
}

.DiagramTitle .plus-image{
    cursor: pointer;
    width: 25px;
}

.EvolutionDiagram{
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    padding: 20px 30px;
    margin-bottom: 50px;
}

.EvolutionDiagram .progess-image{
    width: 100%;
    height: 100%;
}
/* EvolutionForm */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.4); /* cinza transparente */
    
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 999;
}

.code-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
   width: 85%;
   padding: 25px;
   border-radius: 50px;
}

.evolution{
    background-color: white;
    display: flex;
    padding: 14px 35px;
    box-shadow: 5px 3px 3px rgb(155, 150, 150);
    border-radius: 50px;
    margin-top: -50;
    margin-bottom: 20px;
    
}

.evolution h2{
    font-size: 20px;    
    white-space: nowrap;
}
.text-evolution{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
}

.text-evolution p{
    width: 100%;
    font-size: 15px;
    justify-content: center;
    text-align: center;
}

.inputs-section{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    align-items: center;
}

.input-box{
    width: 90%;
}

.input-box p{
    font-size: 12px;
    margin-left: 5%;
    margin-bottom: 5px;
}

.input-box Input{
    font-size: 12px;
}
.button-send{
    width: 100%;
    margin-top: 50px;
}

.button-send button{
    color: white;
    background-color: #22304A;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 50px;
}


/*  */

.therapeutic-goals{
    display: flex;
    padding: 20px;
    box-shadow: 3px 3px 5px rgb(94, 92, 92);
    cursor: pointer;
    flex-direction: column;
    width: 100%;
}

.therapeutic-goals-relatorios{
    display: flex;
    padding: 50px;
    padding-bottom: 100px;
    box-shadow: 3px 3px 5px rgb(94, 92, 92);
    cursor: pointer;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 20px 30px 50px;
    width: 100%;
}

.therapeutic-goals-container{
    display: flex;

}

.therapeutic-goals__content h2{
    font-size: 20px;
}

.therapeutic-goals__content-relatorios h2{
    font-size: 20px;
}
.therapeutic-goals__content p{
    font-size: 15px;
    margin-top: 20px;
    width: 90%;
}

.therapeutic-goals__content{
    margin-left: 0%;
    width: 100%;
    margin-right: 25%;
}

.therapeutic-goals__action-icon{
    width: 30px;
    height: 30px;
}

.therapeutic-goals__content-relatorios{
    margin-left: 0%;
    width: 80%;
    margin-right: 20%;
}

.Goals{
    display: flex;
    margin-left: 0%;
    margin-top: 40px;
    gap: 10px;
}

.Goals p{
    background-color: #ECECEC;
    padding: 5px 15px;
    border-radius: 30px;
    font-size: 10px; 
    white-space: nowrap;

}

}