@import url(@/app/globals.css);



.result-section{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
     background-image: url('@/assets/images/backgroundimage.svg');
     justify-content: center;
     align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.result-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.result-container h2{
    background-color: var(--primary-color);
    font-size: 50px;
    padding: 18px 45px;
    border-radius: 50px;
    z-index: 2;
    box-shadow: 5px 5px 5px rgb(41, 39, 39);
}

.result-card{
    background-color: var(--primary-color);
    border: 5px solid var(--light-blue);
    padding: 35px 45px;
    border-radius: 50px;
    z-index: 0;
    margin-top: -40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-input p{
    font-size: 20px;
    margin: 5px;
    margin-top: 50px;

}

.result-card__actions{
    display: flex;
    margin-top: 50px;
    gap: 15px;
    justify-content: center;
    
}

.result-card__message{
    display: flex;
    width: 640px;
    text-align: justify;
    justify-content: center;
    margin-top: 50px;
}

.result-card__message p{
    font-size: 30px;
}

.result-card__score{
    font-size: 90px;
    margin-top: 50px;
    color: var( --border-button);
}

.result-card__secondary-button{
    background-color: var(--secundary-color);
    color: black;
    padding: 15px 30px;
    cursor: pointer;
    
}

.result-card__secondary-button h3{
    font-size: 30px;
}

@media (max-width: 768px){

.result-section{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
     background-image: url('@/assets/images/backgroundimage.svg');
     justify-content: center;
     align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.result-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
}

.result-container h2{
    
    font-size: 30px;
    padding: 15px 40px;
    border-radius: 50px;
    z-index: 2;
    box-shadow: 5px 5px 5px rgb(41, 39, 39);
}

.result-card{
    
    padding: 15px 2px 30px;
    border-radius: 50px;
    z-index: 0;
    margin-top: -40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -40px 30px;
}

.result-input p{
    font-size: 18px;
    margin: 5px;
    margin-top: 30px;
    
}

.result-card__actions{
    display: flex;
    margin-top: 30px;
    gap: 10px;
    justify-content: center;
    
}

.result-card__message{
    display: flex;
    width: 80%;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}

.result-card__message p{
    font-size: 20px;
    text-align: center;
}

.result-card__secondary-button{
    background-color: var(--secundary-color);
    color: black;
    
}

.result-card__secondary-button h3{
    font-size: 20px;
}
}