@import url(../../globals.css);

.payment-container{
    display: flex;
    flex-direction: column;
}

.payment-header{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.payment-header h1{
    font-size: 60px;
}

.payment-content .payment-title-plan{
    font-size: 40px;
    padding: 20px 50px 20px 100px;
    background-color: var(--primary-color);
    width: 15%;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    margin-bottom: 20px;
}

.payment-content .payment-title-charge{
    font-size: 40px;
    padding: 20px 50px 20px 100px;
    background-color: var(--primary-color);
    width: 19%;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    margin-bottom: 20px;
    margin-top: 100px;
}

.payment-content .payment-title-data{
    font-size: 40px;
    padding: 20px 50px 20px 100px;
    background-color: var(--primary-color);
    width: 26%;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    margin-bottom: 20px;
    margin-top: 100px;
}

.payment-content{
    margin-bottom: 20px;
}

.select-trigger {
  font-size: 40px;
  border-bottom: 2px solid black;
  cursor: pointer;
  padding: 10px 0;
  padding-left: 100px;
}

.select-options {
  position: absolute;
  width: 100%;
  background: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  z-index: 10;
  padding-left: 100px;
}

.select-options div {
  padding: 15px;
  font-size: 30px;
  cursor: pointer;
}

.select-options div:hover {
  background-color: #eee;
}

.form-field{
    display: flex;
    border-bottom: 2px solid #000;
    margin-top: 75px;
    padding-bottom: 20px;
}

.form-field p{
    font-size: 30px;
    margin-left: 100px;
}

.form-field input{
    font-size: 30px;
    margin-left: 20px;
    width: 75%;
    box-shadow: none;
    padding: 5;
}

.payment-method-section{
    margin-top: 30%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 100px;
}

.payment-method-section .payment-title-method{
    font-size: 40px;
    padding: 20px 50px 20px 100px;
    background-color: var(--primary-color);
    width: 20%;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    margin-top: 100px;
}

.payment-card{
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    width: 80%;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 60px;
}

.payment-card label{
    display:flex;
    gap:20px;
    margin-bottom: 50px;
    font-size: 25px;
    align-items: center;
    width: 100%;
    cursor: pointer;
    border-bottom: 2px solid #000;
    padding: 25px;
}

.payment-card input[type="radio"]{
    transform: scale(2);
    margin-right: 10px;
    margin-left: 25px;
    cursor: pointer;
}

.payment-card p{
    font-size: 30px;
    margin: 10px;
    margin-top: 50px;
    justify-content: center;
    margin-left: 23%;
}

.input-wrapper Input{
    width: 59%;
    border: 1.5px solid black;
    margin-left: 21%;
}

.input-wrapper-card Input{
    background-image: url('../../../assets/images/CardIcon.svg');
    background-repeat: no-repeat;
    background-position: 25px center;
    background-size: 35px;
    width: 59%;
    border: 1.5px solid black;
    margin-left:21%;
    padding-left: 70px;
}

.card-extra-fields{
    display: flex;
    width: 90%;
    gap: 30px;
    justify-content: center;
}

.input-wrapper-expiry Input{
    background-image: url('../../../assets/images/CalendarIcon.svg');
    background-repeat: no-repeat;
    background-position: 25px center;
    background-size: 35px;
    width: 100%;
    border: 1.5px solid black;
    margin-left: 18%;
    padding-left: 70px;
}

.input-wrapper-cvv Input{
    width: 100%;
    border: 1.5px solid black;
    margin-left: 18%;
}

.order-summary{
    display: flex;
    flex-direction: column;
    background-color: #ECECEC;
    width: 80%;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 100px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.order-summary .summary-title{
    font-size: 40px;
    padding: 20px 50px 20px 100px;
    background-color: var(--primary-color);
    width: 20%;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    margin-bottom: 20px;
}

.order-summary p{
    font-size: 30px;
    padding-left: 6%;
    margin-bottom: 50px;
    margin-top: 50px;
}

.summary-items .summary-plan{
    display: flex;
    gap: 50%;
    border-bottom: 2px solid #000;
}

.checkout-action{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.checkout-action button{
    font-size: 60px;
    color: white;
    background-color: #22304A;
    padding: 20px 50px;
    border-radius: 100px;
    cursor: pointer;
}
/* ================= MOBILE ================= */
@media (max-width: 768px){

.payment-header h1{
    font-size: 30px;
}

.payment-content .payment-title-plan{
    font-size: 20px;
    padding: 10px 25px 10px 80px;
    width: 35%;
}

.payment-content .payment-title-charge{
    font-size: 20px;
    padding: 10px 25px 10px 80px;
    width: 40%;
    margin-top: 100px;
}

.payment-content .payment-title-data{
    font-size: 20px;
    padding: 10px 25px 10px 80px;
    width: 45%;
    margin-bottom: 100px;
}

.select-trigger {
  font-size: 20px;
  padding-left: 50px;
}

.select-options {
  padding-left: 50px;
}

.select-options div {
  font-size: 20px;
}

.form-field{
    margin-top: 75px;
    padding-bottom: 5px;
}

.form-field p{
    font-size: 20px;
    margin-left: 50px;
}

.form-field input{
    font-size: 20px;
    margin-left: 10px;
}

.payment-method-section .payment-title-method{
    font-size: 20px;
    padding: 10px 25px 10px 50px;
    width: 40%;
    margin-top: 50px;
}

.payment-card{
    padding-bottom: 40px;
}

.payment-card label{
    gap:10px;
    font-size: 20px;
    border-bottom: 1px solid #000;
}

.payment-card input[type="radio"]{
    transform: scale(1.5);
}

.payment-card p{
    font-size: 20px;
}

.input-wrapper-card Input{
    background-position: 15px center;
    background-size: 25px;
    padding-left: 50px;
}

.input-wrapper-expiry Input{
    background-position: 15px center;
    background-size: 25px;
    padding-left: 50px;
}

.order-summary{
    margin-bottom: 70px;
}

.order-summary .summary-title{
    font-size: 20px;
    padding: 10px 25px 10px 50px;
    width: 40%;
}

.order-summary p{
    font-size: 15px;
    padding-left: 10%;
    margin-bottom: 15px;
    margin-top: 10px;
}

.summary-items .summary-plan{
    gap: 15%;
}

.checkout-action{
    margin-bottom: 60px;
}

.checkout-action button{
    font-size: 30px;
}
}