@import url(../../globals.css);

.patient-banner{
    width: 100%;
    height: auto;
    display: block;
}

.patient-header{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}


.patient-header h1{
    font-size: 60px;
    margin-bottom: 100px;
}

.patient-list{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 100px;
}

.patient-card{
    display: flex;
    padding: 50px;
    box-shadow: 3px 3px 5px rgb(94, 92, 92);
    cursor: pointer;
}

.patient-card__content h2{
    font-size: 40px;
}

.patient-card__content p{
    font-size: 30px;
    margin-top: 20px;
    width: 100%;
}

.patient-card__content{
    margin-left: 5%;
    width: 100%;
    margin-right: 25%;
}

@media (max-width: 768px){

.patient-header{
    display: flex;
    margin-top: 80px;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.patient-header p{
    font-size: 20px;
    width: 80%;
    margin: 50px;
    text-align: justify;
}

.patient-header h1{
    font-size: 30px;
}

.patient-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 80px;
}

.patient-card{
    display: flex;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(94, 92, 92);
    cursor: pointer;
}

.patient-card__image{
    width: 50px;
}

.patient-card__action-icon{
    width: 25px;
}

.patient-card__content h2{
    font-size: 20px;
}

.patient-card__content p{
    font-size: 20px;
    margin-top: 10px;
    width: 100%;
}

.patient-card__content{
    margin-right: 5%;
}

}