@import url(../../app/globals.css);

.Section-Login{
    margin-bottom: 100px;
}
.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
}

.card-container h2{
    background-color: var(--background-card);
    font-size: 50px;
    padding: 18px 45px;
    border-radius: 50px;
    z-index: 2;
    box-shadow: 5px 5px 5px rgb(41, 39, 39);
}

.card{
    background-color: var(--background-card);
    padding: 35px 80px;
    border-radius: 50px;
    z-index: 0;
    margin-top: -40px;
    justify-content: center;
}

.card p{
    font-size: 20px;
    margin: 5px;
    margin-top: 50px;
}


.password{
    display: flex;
    justify-content: end;
    margin-top: -30px;
}

.container-buttons{
    display: flex;
    margin-top: 50px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container-login{
    display: flex;
    background-color: var(--background-card);
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: var(--dark-blue);
}

.redefine-container{
    display: flex;
    background-color: var(--background-card);
    cursor: pointer;
    color: var(--dark-blue);
    
}

.card input{
    width: 65%;
}