@import url(../../app/globals.css);

.about-us{
    display: flex;
    flex-direction: column;
}

.about-us__banner{
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 100px;
}

.about-us__intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about-us__intro h1{
    font-size: 60px;
    margin-bottom: 50px;
}

.about-us__intro p{
    font-size: 30px;
    width: 930px;
    text-align: justify;
    margin-bottom: 100px;
}

.about-us__mission{
    display: flex;
    flex-direction: column;
    background-color: var(--background-home);
    align-items: center;
}

.about-us__mission h2{
    font-size: 60px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.mission__content{
    display: flex;
    align-items: center;
}

.mission__content p{
    font-size: 30px;
    width: 730px;
    text-align: justify;
    margin-left: 145px;
    margin-bottom: 100px;
}

.about-us__team{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us__team h2{
    font-size: 60px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.about-us__team p{
    font-size: 30px;
    width: 930px;
    text-align: justify;
    margin-bottom: 100px;
}

.team{
    display: flex;
    gap: 100px;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.team__group{
    display: flex;
    gap: 170px;
}

.team__member{
    text-align: center;
    font-size: 30px;
    width: 300px;
}

@media (max-width: 768px){

.about-us__intro h1{
    font-size: 30px;
}

.about-us__intro p{
    font-size: 20px;
    width: 80%;
}

.about-us__mission h2{
    font-size: 30px;
}

.mission__image{
    display: none;
}

.mission__content p{
    font-size: 20px;
    width: 80%;
    margin-left: 45px;
}

.about-us__team h2{
    font-size: 30px;
}

.about-us__team p{
    font-size: 20px;
    width: 80%;
}

.team__image{
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.team__member{
    font-size: 20px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team__group{
    gap: 100px;
    justify-content: center;
}

.team__group:last-child{
    gap: 140px;
    margin-top: 10px;
}

.team{
    gap: 50px;
}
}