@import url(../../app/globals.css);

.account-access{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background-image: url('../../assets/images/backgroundimage.svg');
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.account-access__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.account-access__container h2{
    background-color: var(--blue-medium);
    font-size: 50px;
    padding: 18px 45px;
    border-radius: 50px;
    z-index: 2;
    box-shadow: 5px 5px 5px rgb(41, 39, 39);
}

.account-access__card{
    background-color: var(--blue-medium);
    padding: 35px 45px;
    border-radius: 50px;
    z-index: 0;
    margin-top: -40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-access__profile-image{
    margin-top: 60px;
    width: 170px;
    height: 170px;
}

.account-access__actions{
    display: flex;
    margin-top: 60px;
    gap: 10px;
    justify-content: center;
}

.account-access__terms{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 60px;
    flex-direction: column;
}

.account-access__terms p{
    font-size: 30px;
}

.account-access__terms-link{
    color: var(--secundary-color);
}

@media (max-width: 768px){

.account-access__container{
    width: 80%;
    height: 400px;
}

.account-access__container h2{
    font-size: 20px;
    padding: 18px 25px;
}

.account-access__card{
    padding: 35px 45px;
    margin-top: -40px;
}

.account-access__profile-image{
    margin-top: 40px;
    width: 100px;
    height: 100px;
}

.account-access__actions{
    margin-top: 60px;
    gap: 10px;
    width: 30px;
}

.account-access__terms{
    margin-top: 40px;
}

.account-access__terms p{
    font-size: 20px;
}

.account-access__terms-link{
    color: var(--secundary-color);
}

}