@import url(../../app/globals.css);

.account-access{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background-image: url('../../assets/images/backgroundimage.svg');
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.account-access__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -10%;
}

.account-access__container h2{
    background-color: var(--blue-medium);
    font-size: clamp(24px, 4vw, 50px);
    padding: 18px clamp(20px, 3vw, 45px);
    border-radius: 50px;
    z-index: 2;
    box-shadow: 5px 5px 5px rgb(189, 186, 186);
    text-align: center;
    color: var(--white-color);
}

.account-access__card{
    background-color: var(--primary-color);
    padding: 35px clamp(24px, 4vw, 45px);
    border-radius: 50px;
    border: 5px solid var(--blue-medium);
    z-index: 0;
    margin-top: -40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 750px;

}

.account-access__profile-image{
    margin-top: 40px;
    width: clamp(100px, 15vw, 170px);
    height: clamp(100px, 15vw, 170px);
}

.account-access__actions{
    display: flex;
    margin-top: clamp(30px, 5vw, 60px);
    gap: 10px;
    justify-content: center;
}

.account-access__terms{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: clamp(30px, 5vw, 60px);
    flex-direction: column;
}

.account-access__terms p{
    font-size: clamp(16px, 2vw, 30px);
}

.account-access__terms-link{
    color: var(--blue-dark);
    margin-top: 15px;
    text-decoration:underline;
}

@media (max-width: 768px){

.account-access__container{
    width: 90%;
    margin-top: 80px;
}

.account-access__actions{
    margin-top: 40px;
}

}