@import url(../../app/globals.css);


header{
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: var(--primary-color);
    justify-content: space-evenly;
    gap: 5%;
}

.container-profile{
    display: flex;
    background-color: var(--primary-color);
    cursor: pointer;
}

.logo{
    width: 15%;
   margin-left: -3%;
}

.container-pages{
    display: flex;
    justify-content: space-between;
    gap: 15%;
    justify-content: center;
}

.iconecontainer p{
    width: 170px;
    margin-top: 10px;
    font-size: 20px;
}

.iconecontainer{
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-pages a,
.container-pages a:visited{
    text-decoration: none;
    color: inherit;
}

.white-button{
    padding: 15px 20px;
    font-size: 100%;
    border-radius: 25px;
    color: var(--dark-blue);
    background-color: var(--secundary-color);
    cursor: pointer;
}
.blue-button{
    padding: 15px 30px;   
    font-size: 100%;
    border-radius: 25px;
    color: var(--secundary-color);
    background-color: var(--dark-blue);
    cursor: pointer;
}

.container-button{
    display: flex;
    gap: 20px;
   
    
}

.hamburger{
        display: none;
    }
/* ===== MOBILE ===== */
@media (max-width: 768px){

    header{
        display: flex;
        height: 100px;
        gap: 20px;
        justify-content: space-between;
        padding: 0 20px;
        width: 100%;
    }

    .logo{
        width: 100px;
        margin-left: 2%;
    }

    /* esconde menu desktop */
    .iconecontainer{
        display: none;
    }

    /* esconde profile (opcional, podemos manter se quiser) */
    .container-button{
        display: none;
    }

    /* mostra hamburger */
    .hamburger{
        display: flex;
        cursor: pointer;
        margin-left: 55%;
        align-items: center;
        background-color: var(--primary-color);
    }

    /* menu mobile */
    .mobile-menu{
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        background: var(--primary-color);
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 20px;
        z-index: 999;
        
    }

    .mobile-menu a,
    .mobile-menu button{
        text-decoration: none;
        color: white;
        font-size: 20px;
        background: none;
        border: none;
        text-align: left;
        cursor: pointer;
    }
}