@import url(../../app/globals.css);


header{
    width: 100%;
    height: 170px;
    display: flex;
    align-items: center;
    background-color: var(--primary-color);

    justify-content: space-between;
    gap: clamp(16px, 3vw, 40px);
    padding: 0 clamp(16px, 3vw, 40px);
    flex-wrap: wrap;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    transition: transform 0.3s ease;
}

/* animação */
.header.show{
    transform: translateY(0);
}

.header.hide{
    transform: translateY(-100%);
}

/* evita conteúdo invadir */
body{
    padding-top: 170px;
}

.container-profile{
    display: flex;
    background-color: var(--primary-color);
    cursor: pointer;
}

.logo{
    width: clamp(120px, 12vw, 200px);
}

.container-pages{
    display: flex;
    justify-content: center;
    gap: clamp(16px, 4vw, 80px);
    flex-wrap: wrap;
}

.iconecontainer p{
    max-width: 170px;
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
}

.iconecontainer{
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-pages a,
.container-pages a:visited{
    text-decoration: none;
    color: inherit;
}

.white-button{
    padding: 15px 20px;
    font-size: 100%;
    border-radius: 25px;
    color: var(--dark-blue);
    background-color: var(--secundary-color);
    cursor: pointer;
}
.blue-button{
    padding: 15px 30px;   
    font-size: 100%;
    border-radius: 25px;
    color: var(--secundary-color);
    background-color: var(--dark-blue);
    cursor: pointer;
}

.container-button{
    display: flex;
    gap: 20px;
   
    
}

.hamburger{
        display: none;
    }

/* ===== TABLET ===== */
@media (max-width: 1200px){
    .container-pages{
        gap: clamp(12px, 2vw, 40px);
    }

    .iconecontainer p{
        font-size: 16px;
    }

    .white-button,
    .blue-button{
        padding: 10px 16px;
        font-size: 14px;
    }
}

/* ===== MOBILE ===== */
@media (max-width: 768px){

    header{
        display: flex;
        height: 100px;
        gap: 20px;
        justify-content: space-between;
        padding: 0 20px;
        width: 100%;
    }

    .logo{
        width: 100px;
    }

    /* esconde menu desktop */
    .iconecontainer{
        display: none;
    }

    /* esconde profile (opcional, podemos manter se quiser) */
    .container-button{
        display: none;
    }

    /* mostra hamburger */
    .hamburger{
        display: flex;
        cursor: pointer;
        margin-left: auto;
        align-items: center;
        background-color: var(--primary-color);
    }

    /* menu mobile */
    .mobile-menu{
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    z-index: 999;
}

    .mobile-menu a,
    .mobile-menu button{
        text-decoration: none;
        color: white;
        font-size: 20px;
        background: none;
        border: none;
        text-align: left;
        cursor: pointer;
    }
}