@font-face {
    font-family: 'Comfortaa';
    src: url('../assets/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf');         
}
@font-face {
    font-family: 'Marmelad';
    src: url('../assets/fonts/Marmelad/Marmelad-Regular.ttf');         
}
*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
p, h6, input, textarea, option, input, select{
    font-family: 'Comfortaa';
}

h2,h1,h3, button{
    font-family: 'Marmelad';
}

:root{
    --white-color: #FFFFFF;
    --gray-ligth: #F0F0F0;
    --gray-medium:#ECECEC;
    --gray-medium-two:#E7E7E7;
    --gray-medium-three: #D9D9D9;
    --gray-medium-four: #A3A3A3;
    --gray-medium-five:#9F9F9F;
    --gray-dark: #636363;
    --black-color: #000000;
    --sand-ligth: #F2EDE3;
    --sand-medium:#C9BBA0;
    --primary-color: #CADAED;
    --blue-medium:#9CB4D3;
    --blue-medium-two: #7B9EC8;
    --dark-blue: #22304A;
    --turquoise-ligth: #E8FDFF;
    --turquoise-medium: #CBEFF2;
    --turquoise-medium-two: #A6CEE3;
    --Turquoise-medium-three: #60B0B8;
    --turquoise-medium-four: #40878E;
    --turquoise-dark: #295766;
    --green-ligth: #DDF8E5;
    --green-medium: #A8D5B7;
    --green-dark:#265D39;

    font: normal 16px 'Comfortaa', sans-serif;
}