@import url(../../globals.css);

.processes-container{
    display: flex;
    flex-direction: column;
}

.section-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    background-color: var(--primary-color);
}

.section-header h1{
    font-size: 60px;
    padding: 30px;
}


.section-title-responsible{
    font-size: 40px;
    padding: 20px 50px 20px 100px;
    background-color: var(--primary-color);
    width: 16%;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    margin-bottom: 50px;
}
/*  */
.account-avatar-wrapper {
  display: flex;
  margin-left: 5%;
  margin-bottom: 100px;
  align-items: center;
  align-items: center;
}

.account-avatar {
  position: relative;
  width: 300px !important;  
  height: 300px !important;  
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0; 
  cursor: pointer; 
  margin-right: 5%;
}

.account-avatar-image {
  object-fit: cover;
    
}

.edit{
    align-items: center;
    z-index: 1000;
    position: absolute;
    margin-top: 11%;
    margin-left: 12%
}

.account-user-info{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.account-user-info h2{
    display: flex;
    font-size: 40px;
    margin-bottom: 20px;
    width: 100%;
}

.account-status {
    display: flex;
    justify-content: center;
}

.account-status p{
    font-size: 30px;
    color: #636363;
    width: 100%;
    border-radius: 100px;
    margin: 0 auto;
    white-space: nowrap;
}

.box-ID{
    display: flex;
    align-items: center;
}

.infoicon{
    margin-left: 15px;
}

.box-ID h3{
    display: flex;
    margin-top: 20px;
    font-size: 30px;
    background-color: var(--dark-blue);
    color: var(--white-color);
    padding: 15px 20px;
    justify-content: center;
    border-radius: 50px;
    white-space: nowrap;
}

/*  */

.section-title-scenarios{
    font-size: 40px;
    padding: 20px 50px 20px 100px;
    background-color: var(--primary-color);
    width: 30%;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    margin-bottom: 50px;
    white-space: nowrap;
}

.scenario-card{
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 50px;
    box-shadow: 5px 5px 5px rgb(128, 123, 123);
    
}

.scenario-card h3{
    font-size: 40px;
    margin-bottom: 160px;
}

.scenario-card button{
    font-size: 30px;
    width: 16%;
    padding: 10px 30px;
    background-color: #22304A;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    white-space: nowrap;
}

.scenarios-container{
    margin-bottom: 100px;
}
/* validação */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.4); /* cinza transparente */
    
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 999;
}

.code-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
   width: 45%;
   padding: 50px;
   border-radius: 50px;
}

.code-box p{
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.code-box button{
    background-color: #22304A;
    color: white;
    padding: 10px 30px;
    font-size: 30px;
    border-radius: 50px;
    cursor: pointer;
}

.validation{
    background-color: white;
    display: flex;
    padding: 10px 40px;
    width: 45%;
    box-shadow: 5px 3px 3px rgb(155, 150, 150);
    border-radius: 50px;
    margin-top: -110;
    margin-bottom: 50px;
    font-size: 40px;
}

.code-inputs{
    display: flex;
    gap: 45px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.code-input{
    font-size: 20px;
    display: flex;
    text-align: center;
    box-shadow: inset 5 5 5px rgba(0, 0, 0, 0.2);
    width: 70px;
    height:45px;
    border-radius: 30px;
}

/*  */

/* ================= MOBILE ================= */
@media (max-width: 768px){

.section-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.section-header h1{
    font-size: 30px;
    margin-bottom: 30px;
}

.section-header p{
    font-size: 15px;
    text-align: center;
    width: 80%;
}

.section-title-responsible{
    font-size: 20px;
    padding: 10px 30px 10px 50px;
    background-color: var(--primary-color);
    width: 42%;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    margin-bottom: 30px;
}
/*  */
.profile-container{
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 50px;
    flex-direction: column;
}

.email-box{
    padding: 10px 30px;
    background-color: #ECECEC;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    align-items: center;
    margin-left: 0%;
    cursor: pointer;
    margin-top: 20px;
}

.email-box h3{
    font-size: 20px;
    margin-right: 10px;
}
.profile-avatar-wrapper {
  display: flex;
  margin-right: 5%;
  margin-left: 5%;

}

.profile-avatar-container {
  position: relative;
  width: 100px !important;  
  height: 100px !important;  
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0; 
}

.profile-avatar-image {
  object-fit: cover;
}

.profile-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-info h2{
    display: flex;
    font-size: 30px;
    margin-bottom: 20px;
}

.profile-info p{
    font-size: 20px;
}
/*  */

.section-title-scenarios{
    font-size: 20px;
    padding: 10px 30px 10px 50px;
    background-color: var(--primary-color);
    width: 65%;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    margin-bottom: 20px;
}

.scenario-card{
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
    box-shadow: 5px 5px 5px rgb(128, 123, 123);
}

.scenario-card h3{
    font-size: 20px;
    margin-bottom: 80px;
}

.scenario-card button{
    font-size: 15px;
    width: 50%;
    padding: 10px 30px;
    background-color: #22304A;
    color: white;
    border-radius: 50px;
    cursor: pointer;

}

.scenarios-container{
    margin-bottom: 50px;
}

/* validação */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.4); /* cinza transparente */
    
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 999;
}

.code-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
   width: 90%;
   padding: 30px;
   border-radius: 50px;
}

.code-box p{
    width: 100%;
    text-align: center;
    font-size: 15px;
}

.code-box button{
    background-color: #22304A;
    color: white;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 50px;
    cursor: pointer;
}

.validation{
    background-color: white;
    display: flex;
    padding: 10px 25px;
    width: 50%;
    box-shadow: 5px 3px 3px rgb(155, 150, 150);
    border-radius: 50px;
    margin-top: -60;
    margin-bottom: 30px;
    font-size: 20px;
}

.code-inputs{
    display: flex;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.code-input{
    font-size: 15px;
    display: flex;
    text-align: center;
    box-shadow: inset 5 5 5px rgba(0, 0, 0, 0.2);
    width: 50px;
    height:35px;
    border-radius: 20px;
}

.account-avatar-wrapper {
  display: flex;
  margin-right: 0%;
  margin-left: 0%;
  margin-bottom: 30px;
}

.account-avatar {
  position: relative;
  width: 150px !important;  
  height: 150px !important;  
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0; 
  cursor: pointer;
}

.account-avatar-image {
  object-fit: cover;
}

.edit{
    align-items: center;
    z-index: 1000;
    position: absolute;
    margin-top: 19%;
    margin-left: 23%;
    width: 30px;
}

.account-user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    text-align: center;
    margin-bottom: 40px;
}

.account-user-info h2{
    display: flex;
    font-size: 20px;
    margin-bottom: 20px;
    width:65%;
}

.account-status {
    display: flex;
    justify-content: center;
}

.account-status p{
    font-size: 15px;
    color: #636363;
    width: 95%;
    border-radius: 100px;
    margin: 0 auto;
    white-space: nowrap;
}

.box-ID{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.infoicon{
    margin-left: 8px;
    width: 30px;
}

.box-ID h3{
    display: flex;
    margin-top: 20px;
    font-size: 15px;
    background-color: var(--dark-blue);
    color: var(--white-color);
    width: 100%;
    padding: 15px 15px;
    justify-content: center;
    border-radius: 50px;
}
}