@import url(../../globals.css);

.processes-container{
    display: flex;
    flex-direction: column;
}

.section-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    background-color: var(--primary-color);
}

.section-header h1{
    font-size: 60px;
    padding: 30px;
}


.section-title-responsible{
    font-size: 40px;
    padding: 20px 50px 20px 100px;
    background-color: var(--primary-color);
    width: 16%;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    margin-bottom: 50px;
}


/*  */
.account-avatar-wrapper {
  display: flex;
  margin-left: 5%;
  margin-bottom: 120px;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

.account-avatar {
  position: relative;
  width: 300px !important;  
  height: 300px !important;  
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0; 
  cursor: pointer; 
  margin-right: 5%;
}

.account-avatar-image {
  object-fit: cover;
    
}

.account-user-info{
    display: flex;
    flex-direction: column;
}

.account-user-info h2{
    display: flex;
    font-size: 40px;
    margin-bottom: 20px;
    width: 100%;
}

.account-status {
    display: flex;
    justify-content: center;
}

.account-status p{
    font-size: 30px;
    color: #636363;
    width: 100%;
    border-radius: 100px;
    margin: 0 auto;
    white-space: nowrap;
}

.box-ID{
    display: flex;
    align-items: center;
}

.infoicon{
    margin-left: 15px;
}

.info-wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.info-tooltip {
    position: absolute;
    top: 20%;
    left: 320%;
    transform: translateX(-50%);
    background-color: white;
    box-shadow: 5 5 5px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    text-align: justify;
    padding: 20px 20px;
    width: 260px;
    font-size: 15px;
    display: none;
    z-index: 1000;
}

.info-wrapper:hover .info-tooltip {
    display: block;
}

.box-ID h3{
    display: flex;
    margin-top: 20px;
    font-size: 30px;
    background-color: var(--dark-blue);
    color: var(--white-color);
    padding: 15px 20px;
    justify-content: center;
    border-radius: 50px;
    white-space: nowrap;
}

/*  */

.text-class{
    display: flex;
    align-items: center;
}

.plus{
    margin-left: 68%;
    margin-bottom: 2%;
    cursor: pointer;
}

.section-title-scenarios{
    font-size: 40px;
    padding: 20px 50px 20px 100px;
    background-color: var(--primary-color);
    width: 27%;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    margin-bottom: 50px;
    white-space: nowrap;
}

.scenario-card{
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 50px;
    box-shadow: 5px 5px 5px rgb(128, 123, 123);
    margin-top: 50px;
    
}

.scenario-card h2{
    font-size: 40px;
    margin-bottom: 50px;
    width: 98%;
}

.scenario-card button{
    font-size: 30px;
    width: 16%;
    padding: 10px 30px;
    background-color: #22304A;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    white-space: nowrap;
}

.scenarios-container{
    margin-bottom: 100px;
}

.scenario-card-container{
    display: flex;
    justify-content: center;
    align-items: top;
}

.image-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.delete{
    cursor: pointer;
}
.view{
    cursor: pointer;
}
/* ScenarioForm */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* cinza transparente */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.code-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
   width: 40%;
   padding: 50px;
   border-radius: 50px;
}

.evolution{
    width: 200px;
    background-color: white;
    display: flex;
    padding: 20px 50px;
    box-shadow: 5px 3px 3px rgb(155, 150, 150);
    border-radius: 50px;
    margin-top: -90;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    
}

.evolution h2{
    font-size: 40px;    
    white-space: nowrap;
}
.text-evolution{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 100px;
}

.text-evolution p{
    width: 100%;
    font-size: 30px;
    text-align: center;
}

.inputs-section{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    align-items: center;
}

.input-box{
    width: 90%;

}

.input-box p{
    font-size: 20px;
    margin-left: 5%;
    margin-bottom: 5px;
}

.button-send{
    width: 100%;
    margin-top: 100px;
}

.button-send button{
    color: white;
    background-color: #22304A;
    padding: 15px 30px;
    font-size: 30px;
    border-radius: 50px;
    cursor: pointer;
}
/*  */
/* options */

.status-container {
    position: relative;
    margin-bottom: 15px;
    font-size: 30px;
}

.status {
    padding: 8px 24px;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    
}

.status-dropdown {
    position: absolute;
    top: 120%;
    left: 0;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 30px;
    text-align: center;
    overflow: hidden;
    z-index: 10;
    width: 17%;
    padding: 10px;
    cursor: pointer;
    
}

.status--default {
    border-radius: 50px;
    padding: 10px 50px;
    
}

.status-option {
    padding: 15px;
    width: 17%;
    border-radius: 50px;
    color: var(--gray-dark);
    border: 3px solid var(--gray-dark);
    font-size: 30px;
    background-image: url('../../../assets/images/DownArrow.svg');
    background-repeat: no-repeat;
    background-position: 85% center;  
    padding-left: 1.5%; 
}



.status-option:hover {
    background-color: #ffffff;
}
.status-option:hover {
    opacity: 0.8;
}

.status--finalizado {
    color: var(--green-dark);
    font-size: 30px;
    border: 3px solid var(--green-dark);
    padding-left: 1.5%;
}

.status--naoiniciado {
    color: var(--gray-dark);
    font-size: 30px;
    border: 3px solid var(--gray-dark);
    padding-left: 1.5%;
    
}


/* validação */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.4); /* cinza transparente */
    
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 999;
}

.code-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
   width: 45%;
   padding: 50px;
   border-radius: 50px;
}

.code-box p{
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.code-box button{
    background-color: #22304A;
    color: white;
    padding: 10px 30px;
    font-size: 30px;
    border-radius: 50px;
    cursor: pointer;
}

.validation{
    background-color: white;
    display: flex;
    padding: 10px 40px;
    width: 45%;
    border-radius: 50px;
    margin-top: -110;
    margin-bottom: 50px;
    font-size: 40px;
}

.code-inputs{
    display: flex;
    gap: 45px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.code-input{
    font-size: 20px;
    display: flex;
    text-align: center;
    box-shadow: inset 5 5 5px rgba(0, 0, 0, 0.2);
    width: 70px;
    height:45px;
    border-radius: 30px;
}

/*  */

/* ================= MOBILE ================= */
@media (max-width: 768px){

.section-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    background-color: var(--primary-color);
}

.section-header h1{
    font-size: 30px;
    padding: 15px;
}


.section-title-responsible{
    font-size: 20px;
    padding: 10px 30px 10px 50px;
    background-color: var(--primary-color);
    width: 26%;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    margin-bottom: 50px;
}


/*  */
.account-avatar-wrapper {
  display: flex;
  margin-left: 5%;
  margin-bottom: 60px;
  align-items: center;
  text-align: center;
  margin-top: 25px;
}

.account-avatar {
  position: relative;
  width: 150px !important;  
  height: 150px !important;  
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0; 
  cursor: pointer; 
  margin-right: 3%;
}

.account-avatar-image {
  object-fit: cover;
    
}

.account-user-info{
    display: flex;
    flex-direction: column;
}

.account-user-info h2{
    display: flex;
    font-size: 20px;
    margin-bottom: 10px;
    width: 100%;
}

.account-status {
    display: flex;
    justify-content: center;
}

.account-status p{
    font-size: 15px;
    color: #636363;
    width: 100%;
    border-radius: 50px;
    margin: 0 auto;
    white-space: nowrap;
}

.box-ID{
    display: flex;
    align-items: center;
}

.infoicon{
    margin-left: 7px;
    width: 20px;
}

.info-wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.info-tooltip {
    position: absolute;
    top: 20%;
    left: 600%;
    transform: translateX(-50%);
    background-color: white;
    box-shadow: 5 5 5px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    text-align: justify;
    padding: 20px 20px;
    width: 260px;
    font-size: 15px;
    display: none;
    z-index: 1000;
}

.info-wrapper:hover .info-tooltip {
    display: block;
}


.box-ID h3{
    display: flex;
    margin-top: 10px;
    font-size: 15px;
    background-color: var(--dark-blue);
    color: var(--white-color);
    padding: 8px 15px;
    justify-content: center;
    border-radius: 50px;
    white-space: nowrap;
}

/*  */

.text-class{
    display: flex;
    align-items: center;
}

.plus{
    margin-left: 45%;
    margin-bottom: 5%;
    width: 30px;
    cursor: pointer;
}

.section-title-scenarios{
    font-size: 20px;
    padding: 10px 30px 10px 50px;
    background-color: var(--primary-color);
    width: 45%;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    margin-bottom: 50px;
    white-space: nowrap;
}

.scenario-card{
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 25px;
    box-shadow: 5px 5px 5px rgb(128, 123, 123);
    margin-top: 50px;
    
}

.scenario-card h2{
    font-size: 20px;
    margin-bottom: 25px;
    width: 98%;
}

.scenarios-container{
    margin-bottom: 50px;
}

.scenario-card-container{
    display: flex;
    justify-content: center;
    align-items: top;
}

.image-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.delete{
    cursor: pointer;
    width: 30px;
}
.view{
    cursor: pointer;
    width: 30px;
}
/* ScenarioForm */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* cinza transparente */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.code-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
   width: 90%;
   padding: 30px;
   border-radius: 50px;
}

.evolution{
    width: 150px;
    background-color: white;
    display: flex;
    padding: 10px 30px;
    box-shadow: 5px 3px 3px rgb(155, 150, 150);
    border-radius: 50px;
    margin-top: -60;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    
}

.evolution h2{
    font-size: 30px;    
    white-space: nowrap;
}
.text-evolution{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
}

.text-evolution p{
    width: 80%;
    font-size: 20px;
    text-align: center;
}

.inputs-section{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    align-items: center;
}

.input-box{
    width: 90%;

}

.input-box p{
    font-size: 15px;
    margin-left: 5%;
    margin-bottom: 5px;
}

.button-send{
    width: 100%;
    margin-top: 50px;
}

.button-send button{
    color: white;
    background-color: #22304A;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
}
/*  */
/* options */

.status-container {
    position: relative;
    margin-bottom: 15px;
    font-size: 15px;
}

.status {
    padding: 8px 24px;
    border-radius: 30px;
    font-size: 10px;
    cursor: pointer;
    background-color: white;
    
}

.status-dropdown {
    position: absolute;
    top: 120%;
    left: 0;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 30px;
    text-align: center;
    overflow: hidden;
    z-index: 10;
    width: 28%;
    padding: 10px;
    cursor: pointer;
    white-space: nowrap;
    
}

.status--default {
    border-radius: 50px;
    padding: 10px 50px;
    
}

.status-option {
    padding: 15px;
    width: 28%;
    border-radius: 50px;
    color: var(--gray-dark);
    border: 2px solid var(--gray-dark);
    font-size: 15px;
    background-image: url('../../../assets/images/DownArrow.svg');
    background-repeat: no-repeat;
    background-position: 85% center;  
    padding-left: 2%; 
    white-space: nowrap;
}



.status-option:hover {
    background-color: #ffffff;
}
.status-option:hover {
    opacity: 0.8;
}

.status--finalizado {
    color: var(--green-dark);
    font-size: 15px;
    border: 3px solid var(--green-dark);
    padding-left: 2%;
}

.status--naoiniciado {
    color: var(--gray-dark);
    font-size: 15px;
    border: 3px solid var(--gray-dark);
    padding-left: 2%;
    
}


/* validação */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.4); /* cinza transparente */
    
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 999;
}

.code-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
   width: 45%;
   padding: 50px;
   border-radius: 50px;
}

.code-box p{
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.code-box button{
    background-color: #22304A;
    color: white;
    padding: 10px 30px;
    font-size: 30px;
    border-radius: 50px;
    cursor: pointer;
}

.validation{
    background-color: white;
    display: flex;
    padding: 10px 40px;
    width: 45%;
    border-radius: 50px;
    margin-top: -110;
    margin-bottom: 50px;
    font-size: 40px;
}

.code-inputs{
    display: flex;
    gap: 45px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.code-input{
    font-size: 20px;
    display: flex;
    text-align: center;
    box-shadow: inset 5 5 5px rgba(0, 0, 0, 0.2);
    width: 70px;
    height:45px;
    border-radius: 30px;
}

}