@import url(@/globals.css);

.Section-FAQ{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Page-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Page-center h1{
    margin-top: 100px;
    font-size: 60px;
}

.Page-center p{
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
}

/*  */

.section-questions{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-bottom: 100px;
}

.faq-send{
    background-color: var(--backgroud-sand);
    border-radius: 50px;
    border: 5px solid var(--border-personalized-plan);
    display: flex;
    width: 60%;
    padding: 50px;
}

.faq-ciano{
    background-color: var(--blue-faq);
    border-radius: 50px;
    border: 5px solid var(--border-faq);
    display: flex;
    width: 60%;
    padding: 50px;
}

.faq-blue{
    background-color: var(--primary-color);
    border-radius: 50px;
    border: 5px solid var(--dark-blue);
    display: flex;
    width: 60%;
    padding: 50px;
}

.faq-green{
    background-color: var(--background-green-faq);
    border-radius: 50px;
    border: 5px solid var(--border-green);
    display: flex;
    width: 60%;
    padding: 50px;
}
.text{
    margin-left: 50px;
}

.bigger p{
    font-size: 50px;
    margin-bottom: 20px;
}

.small p{
    font-size: 30px;
    text-align: justify;
}


/* ================= MOBILE ================= */

@media (max-width: 768px){

.Section-FAQ{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.Page-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Page-center h1{
    margin-top: 80px;
    font-size: 30px;
}

.Page-center p{
    font-size: 20px;
    margin-top: 80px;
    margin-bottom: 80px;
}

/*  */

.section-questions{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
}

.faq-send{
    background-color: var(--backgroud-sand);
    border-radius: 50px;
    border: 5px solid var(--border-personalized-plan);
    display: flex;
    width: 80%;
    padding: 30px;
}

.faq-ciano{
    background-color: var(--blue-faq);
    border-radius: 50px;
    border: 5px solid var(--border-faq);
    display: flex;
    width: 80%;
    padding: 30px;
}

.faq-blue{
    background-color: var(--primary-color);
    border-radius: 50px;
    border: 5px solid var(--dark-blue);
    display: flex;
    width: 80%;
    padding: 30px;
}

.faq-green{
    background-color: var(--background-green-faq);
    border-radius: 50px;
    border: 5px solid var(--border-green);
    display: flex;
    width: 80%;
    padding: 30px;
}
.text{
    margin-left: 20px;
}

.bigger p{
    font-size: 25px;
    margin-bottom: 10px;
}

.small p{
    font-size: 15px;
    text-align: justify;
}

.questionicon{
    width: 60%;
}
}