@import url('../globals.css');

.faq-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.faq-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq-header h1{
    margin-top: 100px;
    font-size: 60px;
}

.faq-header p{
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
}

/*  */

.faq-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-bottom: 100px;
}

.faq-card--sand{
    background-color: var(--backgroud-sand);
    border-radius: 50px;
    border: 5px solid var(--border-personalized-plan);
    display: flex;
    width: 60%;
    padding: 50px;
}

.faq-card--ciano{
    background-color: var(--blue-faq);
    border-radius: 50px;
    border: 5px solid var(--border-faq);
    display: flex;
    width: 60%;
    padding: 50px;
}

.faq-card--blue{
    background-color: var(--primary-color);
    border-radius: 50px;
    border: 5px solid var(--dark-blue);
    display: flex;
    width: 60%;
    padding: 50px;
}

.faq-card--green{
    background-color: var(--background-green-faq);
    border-radius: 50px;
    border: 5px solid var(--border-green);
    display: flex;
    width: 60%;
    padding: 50px;
}

.faq-card__content{
    margin-left: 50px;
}

.faq-card__question p{
    font-size: 50px;
    margin-bottom: 20px;
}

.faq-card__answer p{
    font-size: 30px;
    text-align: justify;
}

/* ================= MOBILE ================= */

@media (max-width: 768px){

.faq-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.faq-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq-header h1{
    margin-top: 80px;
    font-size: 30px;
}

.faq-header p{
    font-size: 20px;
    margin-top: 80px;
    margin-bottom: 80px;
}

/*  */

.faq-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
}

.faq-card--sand{
    background-color: var(--backgroud-sand);
    border-radius: 50px;
    border: 5px solid var(--border-personalized-plan);
    display: flex;
    width: 80%;
    padding: 30px;
}

.faq-card--ciano{
    background-color: var(--blue-faq);
    border-radius: 50px;
    border: 5px solid var(--border-faq);
    display: flex;
    width: 80%;
    padding: 30px;
}

.faq-card--blue{
    background-color: var(--primary-color);
    border-radius: 50px;
    border: 5px solid var(--dark-blue);
    display: flex;
    width: 80%;
    padding: 30px;
}

.faq-card--green{
    background-color: var(--background-green-faq);
    border-radius: 50px;
    border: 5px solid var(--border-green);
    display: flex;
    width: 80%;
    padding: 30px;
}

.faq-card__content{
    margin-left: 20px;
}

.faq-card__question p{
    font-size: 25px;
    margin-bottom: 10px;
}

.faq-card__answer p{
    font-size: 15px;
    text-align: justify;
}

.faq-card__icon{
    width: 60%;
}
}