@import url('../../globals.css');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.questionnaire-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.questionnaire-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questionnaire-header h1{
    font-size: 60px;
    margin-top: 115px;
    margin-bottom: 115px;
    background-color: var(--sand-ligth);
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 15px;
}

.questionnaire-header p{
    font-size: 30px;
    width: 950px;
    text-align: justify;
    margin-bottom: 100px;
}

.questionnaire-subtitle{
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 200px;
    
    background-color: var(--blue-medium);
    border-radius: 60px;
    font-size: 50px;
    z-index: 2;
    box-shadow: 5px 5px 5px rgb(54, 53, 53);
    margin-bottom: -30px;
}

.text-question{
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 160px;
    
    background-color: var(--blue-medium);
    border-radius: 60px;
    font-size: 50px;
    z-index: 2;
    box-shadow: 5px 5px 5px rgb(54, 53, 53);
    margin-bottom: -30px;
}

.questionnaire-card{
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: var(--blue-medium);
    border-radius: 50px;
    padding-top: 100px;
    padding-bottom: 70px;
    justify-content: center;
    margin-bottom: 100px;
    z-index: 0;
    align-items: center;
}

.questionnaire-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 99%;
    padding: 100px 100px 50px 100px;
}

.questionnaire-item--sand{
    background-color: var(--sand-ligth);
}

.questionnaire-item p{
    font-size: 30px;
}

.questionnaire-options{
    display: flex;
    gap: 230px;
    justify-content: space-between;
}

.questionnaire-option label{
    display: flex;
    font-size: 30px;
    margin-top: 22px;
    width: 30px;
    text-align: center;
    justify-content: center;
    margin-bottom: 15px;
}

.questionnaire-option input[type="radio"]{
    transform: scale(3);
    margin-right: 10px;
    cursor: pointer;
    box-shadow: none;
}

.questionnaire-submit{
    display: flex;
    color: var(--white-color);
    justify-content: center;
    text-align: center;
    cursor: pointer;
    background-color: var(--dark-blue);
    padding: 15px 47px;
    border-radius: 30px;
    margin-top: 50px;
    width: 150px;
    margin-left: 100px;
}

.questionnaire-submit p{
    font-size: 30px;
}

.questionnaire-white {
    background-color: var(--white-color);
}

.questionnaire-send {
    background-color: var(--sand-ligth);
}

.questionnaire-item p{
    width: 83%;
    text-align: center;
}

/* ================= MOBILE ================= */

@media (max-width: 768px){

    .questionnaire-header h1{
        font-size: 28px;
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 20px;
        align-items: center;
    }

    .questionnaire-header p{
        font-size: 16px;
        width: 90%;
        margin-bottom: 40px;
    }

    .questionnaire-subtitle{
        font-size: 24px;
        width: 100px;
        padding: 2%;
        margin-bottom: -20px;
    }

    .questionnaire-card{
        width: 95%;
        padding-top: 50px;
        padding-bottom: 40px;
        border-radius: 25px;
    }

    .questionnaire-item{
        width: 98%;
        padding: 30px 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .questionnaire-item p{
        font-size: 18px;
        text-align: center;
        margin-bottom: 8px;
    }

    .questionnaire-options{
        gap: 3%;
        align-items: center;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-left: 1%;
    }

    .questionnaire-option{
        display: flex;
        align-items: center;
        gap: 10px;
        flex-direction: column;
        
    }

    .questionnaire-option label{
        font-size: 16px;
        width: auto;
        text-align: center;
        justify-content: flex-start;
        margin: 0;
        font-size: 15px;
        flex-direction: column;
    }

    .questionnaire-option input[type="radio"]{
        transform: scale(1.3);
        margin-right: 5px;
    }

    .questionnaire-submit{
        width: 120px;
        margin-left: 0;
        padding: 10px;
    }

    .questionnaire-submit p{
        font-size: 18px;
    }
}