@import url(../../app/globals.css);

button{
    padding: 12px 41px;
    font-size: 30px;
    border-radius: 30px;
    color: var(--white-color);
    background-color: var(--dark-blue);
    cursor: pointer;
    white-space: nowrap;
}

@media (max-width: 768px){

button{
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 30px;
    color: var(--white-color);
    background-color: var(--dark-blue);
}
    
}