@import url(../../app/globals.css);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header{
    width: 100%;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 clamp(16px, 3vw, 40px);
    background-color: var(--primary-color);

    position: fixed;
    top: 0;
    left: 0;

    z-index: 1000;

    transition: transform 0.3s ease;
}

.logo-header{
    width: clamp(110px, 12vw, 160px);
    height: auto;
}

/* aparece */
.header.show{
    transform: translateY(0);
}

/* some */
.header.hide{
    transform: translateY(-100%);
}

.container-return{
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
}

.return-enter{
    display: flex;
}

/* IMPORTANTE: evita sobreposição */
body{
    padding-top: 170px;
}

@media (max-width: 768px){

.header{
    height: 110px;
    padding: 0 20px;
}

.logo-header{
    width: clamp(80px, 20vw, 110px);
}

.return-enter{
    width: 30px;
}

/* ajusta espaço no mobile */
body{
    padding-top: 110px;
}
}