@import url(../../app/globals.css);


.profile-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.profile-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-header h2{
    margin-top: 15%;
    font-size: 60px;
    margin-bottom: 30px;
    align-items: center;
}

.profile-header p{
    font-size: 30px;
    margin-bottom: 100px;
}

.profile-card-list{
    display: flex;
    gap: 20px;
}

.profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-blue);
    border-radius: 30px;
    padding: 76px 82px;
}

.profile-card p{
    font-size: 30px;
    margin-top: 15px;
    color: var(--white-color);
}

@media (max-width: 768px){

.profile-header h2{
    font-size: 30px;
    margin-bottom: 20px;
    align-items: center;
}

.profile-header p{
    font-size: 20px;
    margin-bottom: 50px;
    width: 80%;
    text-align: center;
}

.profile-card-list{
    display: flex;
    gap: 10px;
    flex-direction: column;
}


.profile-card__icon{
    display: flex;
    width: 50px;
}

.profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 40px 60px;
}

.profile-card p{
    font-size: 20px;
    margin-top: 15px;
}
}