@import url(../../app/globals.css);

.home-banner{
    width: 100%;
    height: auto;
    display: block;
}

.home-testimonials{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.home-testimonials h1{
    font-size: 60px;
}

.home-testimonials p{
    font-size: 30px;
    width: 900px;
    margin: 50px;
    text-align: center;
}

.home-carousel {
    margin-bottom: 100px;
    display: flex;
    gap: 40px;
    width: 100%;
    height: 600px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.home-image {
  width: 100%;
  height: auto;
  display: block;
}

.home-partners{
    background-color: var(--gray-medium);
    display: flex;
    flex-direction: column ;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column; 
    
}

.home-partners h2{
    margin: 100px;
    font-size: 60px;
    
}

.home-partners__logo{
    margin-bottom: 100px;
}

@media (max-width: 768px){

.home-banner{
    width: 100%;
    height: auto;
    display: block;
     margin-top: 0;
    padding-top: 0;
}

.home-testimonials p{
    font-size: 20px;
    width: 80%;
}

.home-testimonials h1{
    font-size: 30px;
}

.home-carousel {
    margin-bottom: 100px;
    display: flex;
    gap: 20px;
    width: 100%;
    height: 600px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.home-image {
  width: 100%;
  height: auto;
  display: block;
}

.home-partners{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column; 
    
}

.home-partners h2{
    margin: 100px;
    font-size: 30px;
}

.home-partners__logo{
    margin-bottom: 100px;
}

}